tf/data/Sunspots.csv
tf/data/sign_mnist_train.csv
tf/data/sign_mnist_test.csv
tf/data/daily-min-temperatures.csv
tf/4.chap/daily-max-temperatures.csv
tf/4.chap/daily-min-temperatures.csv
tf/3.chap/data/BBC News Sample Solution.csv
tf/3.chap/data/BBC News Train.csv
tf/3.chap/data/bbc-text-minimal.csv
tf/3.chap/data/BBC News Test.csv
tf/3.chap/data/bbc-text.csv
tf/tf_cert/__MACOSX/._household_power_consumption.csv
tf/tf_cert/household_power_consumption.csv
tf/tf_cert/household_power.zip
tf/tf_cert/germantrafficsigns.zip
tf/tf_cert/germantrafficsigns.zip
tf/4.chap/saved_model.tar.gz
tf/tf_cert/train/*
tf/tf_cert/validation/*
tf/tf_cert/*.csv
tf/tf_cert/*.zip
